include pug/libs/_libs

doctype html
html(lang = 'en')
  include pug/_head
  body
    .wrapper
      section.menu
        .menu__container
          .menu__header.menu_padding-l-r
            img.menu__img(src=require("./images/logo.png"))
          .menu__select
            ul.accordion
              li.accordion__el
                .arrow-container.menu_padding-l-r
                  p.accordion__title Программа 
                  .arrow.arrow-top
                div content
              li.accordion__el
                .arrow-container.menu_padding-l-r
                  p.accordion__title Менторы 
                div 
              li.accordion__el
                .arrow-container.menu_padding-l-r
                  p.accordion__title Лекции 
                  .arrow.arrow-top
                ul.accordion__ul
                  li.accordion__li
                    img.accordion__img.img-svg(src=require("./images/svg/sword.svg"))
                    p.accordion__subtitle.font14-opacity05 HTML/CSS 
                  li.accordion__li
                    img.accordion__img.img-svg(src=require("./images/svg/rocket.svg"))
                    p.accordion__subtitle.font14-opacity05 GIT
                  li.accordion__li
                    img.accordion__img.img-svg(src=require("./images/svg/puzzle.svg"))
                    p.accordion__subtitle.font14-opacity05 JavaScript
                  li.accordion__li
                    img.accordion__img.img-svg(src=require("./images/svg/checker.svg"))
                    p.accordion__subtitle.font14-opacity05 React
                  li.accordion__li
                    img.accordion__img.img-svg(src=require("./images/svg/cube.svg"))
                    p.accordion__subtitle.font14-opacity05 Angular
                  li.accordion__li
                    img.accordion__img.img-svg(src=require("./images/svg/ball.svg"))
                    p.accordion__subtitle.font14-opacity05 Data
              li.accordion__el
                .arrow-container.menu_padding-l-r
                  p.accordion__title Правила поступления 
                div 
              li.accordion__el
                .arrow-container.menu_padding-l-r
                  p.accordion__title Новости
                div 
              li.accordion__el
                .arrow-container.menu_padding-l-r
                  p.accordion__title Обратная связь
                div 
        .menu__ad-block.menu_padding-l-r
            p.menu_ad-text Получать рассылку
            .menu_ad-toggler 
              .toggle-wrapper
                .toggle.transparent
                  input#transparent(type="checkbox")
                  label.toggle-item(for="transparent")
        .content-header__wrapper.content-header_padding
          .content-header__settings
            a.content-header__setting.font14-opacity05 FAQ
            a.content-header__setting.font14-opacity05 Поддержка
            a.content-header__setting.font14-opacity05 Настройки
            .content-header__line
          .content-header__wrapper-container
            .content-header__profile
              .content-header__info 15 готовых дз
              .content-header__info 18 лекций
              .content-header__info-energy
                .content-header__energy-square
                  img.content-header__energy-img(src=require("./images/svg/energy.svg"))
                p.content-header__energy-text <strong>1200</strong> <span>часов</span>
            .content-header__account
              img.content-header__account-img(src=require("./images/avatar.jpg") alt=photo)
              .content-header__container 
                .content-header__account-info
                  p.content-header__account-name Вася Пупкин
                  .content-header__account-status
                    .content-header__status-circle
                    p.content-header__web-status Online
                p.content-header__account-pro pro
      section.course
        ul.course__ul
          li.course__li
            .course__header
              .course__info
                p.course__level Базовый уровень
                h1.course__discipline html/css
              .course__lectures
                button.course__button.slick__button.slick_button-text-style Все лекции
                .course__arrows
                  a.course__arrow
                    .slick-prev.arrow.arrow-left
                  a.course__arrow
                    .slick-next.arrow.arrow-right
            div.slick(id='slick-1')
              div.slick-item 
                .slick__block
                  .slick__img
                    img(src=require("./images/img0.jpg"))
                    button.slick__button.slick_button-lecture-padding.slick_button-pos.slick_button-text-style Лекция
                  .slick__container
                    .slick__wrapper.slick_padding-text
                      p.slick__title Структура HTML
                      p.slick__subtitle.font14-opacity05 Назначение блоков head, body
                    .slick__footer.slick_padding-text.slick_button-text-style
                      p.slick__date 01.02.2022
                      button.slick__button.slick_button-watch-padding Смотреть
              div.slick-item 
                .slick__block
                  .slick__img
                    img(src=require("./images/img1.jpg"))
                    button.slick__button.slick_button-lecture-padding.slick_button-pos.slick_button-text-style Лекция
                  .slick__container
                    .slick__wrapper.slick_padding-text
                      p.slick__title Подключение стилей
                      p.slick__subtitle.font14-opacity05 Виды  подключения стилей. Подключение шрифтов
                    .slick__footer.slick_padding-text.slick_button-text-style
                      p.slick__date 03.02.2022
                      button.slick__button.slick_button-watch-padding Смотреть
              div.slick-item 
                .slick__block
                  .slick__img
                    img(src=require("./images/img2.jpg"))
                    button.slick__button.slick_button-lecture-padding.slick_button-pos.slick_button-text-style Лекция
                  .slick__container
                    .slick__wrapper.slick_padding-text
                      p.slick__title CSS
                      p.slick__subtitle.font14-opacity05 Базовый синтаксис CSS: селекторы, классы
                    .slick__footer.slick_padding-text.slick_button-text-style
                      p.slick__date 08.02.2022
                      button.slick__button.slick_button-watch-padding Смотреть
              div.slick-item 
                .slick__block
                  .slick__img
                    img(src=require("./images/img3.jpg"))
                    button.slick__button.slick_button-lecture-padding.slick_button-pos.slick_button-text-style Лекция
                  .slick__container
                    .slick__wrapper.slick_padding-text
                      p.slick__title Наследие и каскад
                      p.slick__subtitle.font14-opacity05 Наследие и каскад
                    .slick__footer.slick_padding-text.slick_button-text-style
                      p.slick__date 10.02.2022
                      button.slick__button.slick_button-watch-padding Смотреть
              div.slick-item 
                .slick__block
                  .slick__img
                    img(src=require("./images/img0.jpg"))
                    button.slick__button.slick_button-lecture-padding.slick_button-pos.slick_button-text-style Лекция
                  .slick__container
                    .slick__wrapper.slick_padding-text
                      p.slick__title Наследие и каскад
                      p.slick__subtitle.font14-opacity05 Наследие и каскад
                    .slick__footer.slick_padding-text.slick_button-text-style
                      p.slick__date 10.02.2022
                      button.slick__button.slick_button-watch-padding Смотреть
          li.course__li
            .course__header
              .course__info
                p.course__level Базовый уровень
                h1.course__discipline html/css
              .course__lectures
                button.course__button.slick__button.slick_button-text-style Все лекции
                .course__arrows
                  a.course__arrow
                    .slick-prev2.arrow.arrow-left
                  a.course__arrow
                    .slick-next2.arrow.arrow-right
            div.slick(id='slick-2')
              div.slick-item 
                .slick__block
                  .slick__img
                    img(src=require("./images/img0.jpg"))
                    button.slick__button.slick_button-lecture-padding.slick_button-pos.slick_button-text-style Лекция
                  .slick__container
                    .slick__wrapper.slick_padding-text
                      p.slick__title Структура HTML
                      p.slick__subtitle.font14-opacity05 Назначение блоков head, body
                    .slick__footer.slick_padding-text.slick_button-text-style
                      p.slick__date 01.02.2022
                      button.slick__button.slick_button-watch-padding Смотреть
              div.slick-item 
                .slick__block
                  .slick__img
                    img(src=require("./images/img1.jpg"))
                    button.slick__button.slick_button-lecture-padding.slick_button-pos.slick_button-text-style Лекция
                  .slick__container
                    .slick__wrapper.slick_padding-text
                      p.slick__title Подключение стилей
                      p.slick__subtitle.font14-opacity05 Виды  подключения стилей. Подключение шрифтов
                    .slick__footer.slick_padding-text.slick_button-text-style
                      p.slick__date 03.02.2022
                      button.slick__button.slick_button-watch-padding Смотреть
              div.slick-item 
                .slick__block
                  .slick__img
                    img(src=require("./images/img2.jpg"))
                    button.slick__button.slick_button-lecture-padding.slick_button-pos.slick_button-text-style Лекция
                  .slick__container
                    .slick__wrapper.slick_padding-text
                      p.slick__title CSS
                      p.slick__subtitle.font14-opacity05 Базовый синтаксис CSS: селекторы, классы
                    .slick__footer.slick_padding-text.slick_button-text-style
                      p.slick__date 08.02.2022
                      button.slick__button.slick_button-watch-padding Смотреть
              div.slick-item 
                .slick__block
                  .slick__img
                    img(src=require("./images/img3.jpg"))
                    button.slick__button.slick_button-lecture-padding.slick_button-pos.slick_button-text-style Лекция
                  .slick__container
                    .slick__wrapper.slick_padding-text
                      p.slick__title Наследие и каскад
                      p.slick__subtitle.font14-opacity05 Наследие и каскад
                    .slick__footer.slick_padding-text.slick_button-text-style
                      p.slick__date 10.02.2022
                      button.slick__button.slick_button-watch-padding Смотреть
              div.slick-item 
                .slick__block
                  .slick__img
                    img(src=require("./images/img0.jpg"))
                    button.slick__button.slick_button-lecture-padding.slick_button-pos.slick_button-text-style Лекция
                  .slick__container
                    .slick__wrapper.slick_padding-text
                      p.slick__title Наследие и каскад
                      p.slick__subtitle.font14-opacity05 Наследие и каскад
                    .slick__footer.slick_padding-text.slick_button-text-style
                      p.slick__date 10.02.2022
                      button.slick__button.slick_button-watch-padding Смотреть
    .block()

