include pug/libs/_libs

doctype html
html(lang = 'en')
  include pug/_head
  body
    .wrapper
      section.menu
        .menu__container
          .menu__header
            img.menu__img(src=require("./images/logo.png"))
          .menu__select
            ul.accordion
              li.accordion__el
                .arrow-container
                  p.accordion__title Программа 
                  .arrow.arrow-top
                div content
              li.accordion__el
                .arrow-container
                  p.accordion__title Менторы 
                div 
              li.accordion__el
                .arrow-container
                  p.accordion__title Лекции 
                  .arrow.arrow-top
                ul.accordion__ul
                  li.accordion__li
                    img.accordion__img.img-svg(src=require("./images/svg/sword.svg"))
                    p.accordion__subtitle HTML/CSS 
                  li.accordion__li
                    img.accordion__img.img-svg(src=require("./images/svg/rocket.svg"))
                    p.accordion__subtitle GIT
                  li.accordion__li
                    img.accordion__img.img-svg(src=require("./images/svg/puzzle.svg"))
                    p.accordion__subtitle JavaScript
                  li.accordion__li
                    img.accordion__img.img-svg(src=require("./images/svg/cheese.svg"))
                    p.accordion__subtitle React
                  li.accordion__li
                    img.accordion__img.img-svg(src=require("./images/svg/cube.svg"))
                    p.accordion__subtitle Angular
                  li.accordion__li
                    img.accordion__img.img-svg(src=require("./images/svg/ball.svg"))
                    p.accordion__subtitle Data
              li.accordion__el
                .arrow-container
                  p.accordion__title Правила поступления 
                div 
              li.accordion__el
                .arrow-container
                  p.accordion__title Новости
                div 
              li.accordion__el
                .arrow-container
                  p.accordion__title Обратная связь
                div 
        .menu_ad-block
            p.menu_ad-text Получать рассылку
            p.menu_ad-toggler 
              .toggle-wrapper
                .toggle.transparent
                  input#transparent(type="checkbox")
                  label.toggle-item(for="transparent")
      section.header__right
        .content-header__wrapper.header__right-padding
          .content-header__settings
            p.content-header__setting FAQ
            p.content-header__setting Поддержка
            p.content-header__setting Настройки
            .content-header__line
          .content-header__wrapper-container
            .content-header__profile
              .content-header__info 15 готовых дз
              .content-header__info 18 лекций
              .content-header__info-energy
                .content-header__energy-square
                  img.content-header__energy-img(src=require("./images/svg/energy.svg"))
                p.content-header__energy-text <strong>1200</strong> <span>часов</span>
            .content-header__account
              img.content-header__account-img(src=require("./images/avatar.jpg") alt=photo)
              .content-header__container 
                .content-header__account-info
                  p.content-header__account-name Вася Пупкин
                  .content-header__account-status
                    .content-header__status-circle
                    p.content-header__web-status Online
                p.content-header__account-pro pro
      section.content1
        p.cart cart
        //- .menu__line
        //- .menu__wrapper
        
    .block()

